.navbar{
        margin: 0 0 3vh 0;
}

.logo{
        width: 16vh;
        height: 10vh;
        margin-left: 10vh;
}

.step{
        margin-bottom: 4vh;
}

.sesionBtn {
        width: 23vh;
        height: 6.5vh;
        margin-right: 15vh;
        background: rgba(255, 0, 0, 0.897);
        color: rgb(255, 255, 255);
        font-weight: bold;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.sesionBtn a {
        font-size: 2.8vh;
}

.buttom{
        background: rgba(231, 0, 0, 0.897);
        color: rgba(255, 255, 255, 0.863);
        width: 76vh;
        height: 7.3vh;
}

.buttom:hover{
        transition: 0.1.5s;
        color: rgba(255, 255, 255, 0.931);
        background: rgba(228, 0, 0, 0.774)
}


.sesionBtn:hover{
        transition: 0.1.5s;
        color: rgb(255, 255, 255);
        background: rgba(255, 0, 0, 0.774)
}

@media screen and (min-width:200px) and (max-width:720px) {

        .navbar{
                margin: 0 0 0 0;
        }

        .logo{
                width: 10vh;
                margin-left: 4vh;
        }

        .sesionBtn{
                width: 20vh;
                height: 6.2vh;
                margin-right: 0.2vh;
        }

        .sesionBtn a {
                font-size: 2.2vh;
        }

        .buttom{
                width: 35vh;
                margin-top: -4vh;
        }

        .step{
                margin-left: 0vh;
                padding-top: 2vh;
                padding-bottom: 3.4vh;
        }
}