.box{
    height: 30vh;
    width: 80vh;
}

.input{
    border-color: rgba(94, 94, 94, 0.863);
}

.input::placeholder{
    color: rgb(255, 255, 255);
}

@media screen and (min-width:200px) and (max-width:720px) {
    .input {
        width: 40vh;
        margin-left: 18.6vh;
    }

    h4 {
        width: 40vh;
        margin-left: 18.6vh;
    }
}