.logo{
        width: 18vh;
        height: 6vh;
        margin: 0.4vh 10vh 1vh 12vh;
}

.navbar{
        background: linear-gradient(
        to bottom,
        rgb(27, 27, 27) 0%,
        rgba(0, 0, 0, 0.726) 75%,
        rgba(0, 0, 0, 0) 100%
        );
}

.selectedForm{
        width: 21vh;
        height: 5.6vh;
        color: white;
        padding-left: 2vh;
        background-color: rgba(50, 50, 50, 0.941);
}

.sesionBtn {
        width: 20vh;
        height: 5.6vh;
        margin-bottom: 2vh;
        background: rgba(231, 0, 0, 0.918);
        color: rgba(179, 179, 179, 0.842);
        font-weight: bold;
}

.sesionBtn a {
        font-size: 2.5vh;
}

.sesionBtn:hover{
        transition: 0.1.5s;
        color: rgb(255, 255, 255);
        background: rgba(255, 0, 0, 0.774)
}

@media (max-width: 1100px){
        .logo {
                margin-left: 2vh;
                margin-right: 8vh;
                width: 12vh;
        }

        .selectedForm{
                margin-bottom: 0.8vh;
                max-width: 16vh;
                color: white;
                padding-left: 2vh;
                background-color: rgba(50, 50, 50, 0.941);
                font-size: 2.2vh;
        }

        .sesionBtn {
                width: 20vh;
                height: 6vh;
                margin-right: 10vh;
                margin-bottom: 2vh;
                background: rgba(231, 0, 0, 0.918);
                color: rgba(179, 179, 179, 0.842);
                font-weight: bold;
        }

        .sesionBtn a {
                font-size: 1.8vh;
        }
}