.box{
    margin-bottom: 5vh;
}

.boxPlan{
    padding-right: 6vh;
}

.btnPlan{
    display: flex;
    justify-content: center;
    padding: 8vh;
    width: 24vh;
    background-color: rgb(255, 0, 0);
    margin: 2vh;
    align-self: flex-end;
    border-radius: 1vh;
}

.btnPlan h4 {
    text-shadow: none;
}

.btnPlan:active {
    background-color: rgba(255, 0, 0, 0.514);
}

.rowBox{
    margin: 3vh 0;
}

.textLegend{
    margin-right: 3vh;
}

.buttonClicked {
    background-color: #333;
}

@media screen and (max-width: 720px) {
    .box{
        max-width: 42vh;
        height: 95vh;
        margin: 0 0.4vh;
        padding: 0 0;
    }

    h2, p{
        width: 44vh;
        margin: 0 0 2vh 0;
    }

    .boxPlan{
        margin-left: 34vh;
        margin-top: 6vh;
        width: 12vh;
        padding: 0;
    }

    .btnPlan{
        display: flex;
        justify-content: center;
        padding: 1vh 0;
        padding-right: 1.6vh;
        width: 10vh;
        height: 5vh;
        background-color: rgb(255, 0, 0);
        margin: 0.6vh;
        align-self: flex-end;
        border-radius: 0.4vh;
    }

    .btnPlan h4 {
        font-size: 2vh;
        margin-left: 2vh;
    }

    .textLegend{
        width: 15vh;
        font-size: 2vh;
        padding: 0;
    }

    .rowBox{
        width: 46vh;
    }

    .rowBox h3{
        max-width: 9vh;
        height: 5vh;
        margin: 0;
        font-size: 2vh;
        padding: 0;
    }

    .buttonClicked {
        background-color: #333;
    }
}