.navbar_dark {
  background-color: rgba(0, 0, 0, 0.825);
  transition: background-color 1.0s;
}

.logo{
        width: 12vh;
        height: 7vh;
        margin-left: 2.6vh;
}

.navbar{
  background: linear-gradient(
    to top,
    rgba(27, 27, 27, 0) 0%,
    rgba(0, 0, 0, 0.440) 20%,
    rgba(0, 0, 0, 0.482) 100%
  );
}


.navbar_center{
  border: none;
}

.explorer{
  color: rgb(255, 255, 255);
  font-size: 2.4vh;
}


.dropmenu{
  background: transparent;
  border: none;
}

.nav_link {
    color: rgb(255, 255, 255);
    font-size: 2vh;
}


.nav_link:hover{
    color: rgba(170, 170, 170, 0.87);
}


.dropuser{
  color: rgba(255, 255, 255, 0.840);
  font-size: 1.9vh;
}

.avatar{
  width: 4.4vh;
  height: 4.4vh;
  margin-top: 0.2vh;
  margin-right: 0.4vh;
  border-radius: 20%;
}


@media screen and (min-width:200px) and (max-width:412px) {
  .navbar{
    max-width: 48vh;
    height: 6vh;
  }

  .navbar_dark{
    background-color: rgba(0, 0, 0, 0.825);
    transition: background-color 1.0s;
    height: 7.4vh;
  }

  .navbar_center{
    max-width: 29vh;
    padding-left: 8vh;
  }

  .logo{
    width: 8vh;
    height: 6vh;
  }

  .explorer{
    font-size: 2vh;
  }

  .avatar{
    width: 4.2vh;
    height: 4.2vh;
    margin-top: 0.3vh;
    border-radius: 20%;
  }

  .dropmenu{
    background-color: rgba(30,30,30,0.908);
  }
}