.navbar_dark {
  background-color: #000000; /* Color de fondo oscuro */
  transition: background-color 1.0s; /* Transición suave */
}

.navbar{
  background: linear-gradient(
    to top,
    rgba(27, 27, 27, 0) 0%,
    rgba(0, 0, 0, 0.440) 40%,
    rgba(0, 0, 0, 0.482) 100%
  );
}

.navbar_center{
  border: none;
}

.explorer{
  color: #ffffff;
}


.dropmenu{
  background: transparent;
  border: none;
}

.nav_link {
    color: #ffffff;
    font-size: 2vh;
}

.nav_link:hover{
    color: #ffffff52;
}

.logo{
        width: 14vh;
        height: 10vh;
}

.dropuser{
  color: #ffffff;
  font-size: 2vh;
}

.avatar{
  width: 4vh;
  height: 4vh;
}

@media screen and (max-width:380px) {
  .logo{
    width: 12vh;
  }

  .dropmenu{
    background-color: black;
  }
}