.MovieBackground{
    width: auto;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position:relative;
    z-index: 1;
}

.background_gradient{
    width: auto;
    height: 100vh;
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.103) 0%,
        rgba(0, 0, 0, 0.507) 60%,
        rgb(27, 27, 27) 100%
    );
}

.box{
    max-width: 20vh;
}

.iconplay{
    width: 15vh;
    height: 15vh;
    color: rgba(255, 255, 255, 0.705);
    position:absolute;
    z-index:2;
    top: 21.5em;
    left: 4em;
}

.Overview{
    position:absolute;
    z-index:2;
    opacity:0.9;
    top: 62vh;
    right: 4vh;
    margin-left: 40vh;
}

.detailBox{
    position:absolute;
    z-index:3;
    opacity:0.9;
    bottom: 2vh;
    left: 42vh;
    width: 120vh;
    margin-bottom: 1vh;
}

h4{
    font-size: 2.8vh;
    color: rgb(255, 255, 255);
    text-shadow: 2vh 2vh 3.5vh #000000e8
}

.title{
        position:absolute;
        z-index:2;
        opacity:0.9;
        top: 52vh;
        margin-left: 38vh;
}

h1{
    font-size: 5.2vh;
    font-style: italic;
    color: rgb(255, 255, 255);
    text-shadow: 2vh 2vh 3.5vh #000000e8
}

.btnFav{
    width: 6.5vh;
    height: 6.5vh;
}