.background{
    background-size: cover;
    background-color: #000;
    height:100vh;
     background-position: center;
}

@media  (max-width: 10500px) and (min-width:400px) {
    .background {
        width: 1440px;
    }
  }