.list{
    list-style: none;
    margin-top: 8vh;
    margin-left: 12vh;
}

.item{
    margin: 1.2vh 0;
}

.link{
    color: rgb(190, 190, 190);
    font-family: sans-serif;
    font-size: 2.4vh;
    text-decoration: none;
}

.copyright{
    padding-top: 6vh;
}

@media screen and (max-width:412px) {
    .list{
        width: 400px;
        margin-left: 0;
    }

    .item{
        margin: 1vh 0;
    }
    
}