.formBox{
    display: flex;
    z-index: 1;
}

.text{
    position: absolute;
    z-index: 2;
    bottom: 36vh;
    left: 32vh;
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    padding-bottom: 2vh;
}

.textTitle{
    font-size: 8vh;
}

.textBody{
    font-size: 4.5vh;
}

.textFooter{
    font-size: 3vh;
    padding-top: 2vh;
}

.form{
    position: absolute;
    z-index: 2;
    width: 100vh;
    bottom: 22vh;
    left: 55vh;
}

.form button{
    width: 28vh;
    height: 7vh;
    margin-left: 1vh;
    border-radius: 0.6vh;
    background-color: rgba(238, 0, 0, 0.932);
    color: rgb(255, 255, 255);
}

.form button:hover{
    transition: 0.3s;
    background-color: rgba(221, 0, 0, 0.932);
    color: rgb(255, 255, 255);
}

.form input{
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0.6vh;
}

.form input::placeholder{
    color: rgb(255, 255, 255);
    padding-left: 0.8vh;
    font-size: 3.2vh;
}

.btnError{
    margin-top: 2vh;
    font-size: 3vh;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10%;
    color: rgba(221, 0, 0, 0.932);

}

@media screen and (min-width:200px) and (max-width:720px) {
    .text{
        left: 2vh;
        right: 4vh;
        top: 20vh;
    }

    .textTitle {
        font-size: 4vh;
        padding-bottom: 6vh;
    }

    .textBody{
        font-size: 2vh;
    }

    .textFooter{
        font-size: 2vh;
        margin-left: 0vh;
    }

    .form{
        width: 42vh;
        left: 4vh;
        bottom: 24vh;
    }

    .form input {
        width: 26vh;
    }

    .form button{
        width: 14vh;
        font-size: 1.8vh;
    }

    .form input::placeholder{
        padding-left: 0.8vh;
        font-size: 2.2vh;
    }
}