.box{
    margin-top: 6vh;
    margin-left: 16vh;
}

.title{
    font-size: 6.2vh;
    padding-top: 9vh;
    padding-left: 9vh;
}

.selectedForm{
    color: white;
    background-color: rgba(50, 50, 50, 0.941);
}

.boxChild{
    padding: 1vh;
}

.boxChildTitle{
    color: rgba(255, 255, 255, 0.973);
    font-size: 4.2vh;
}

.link{
    color: rgba(255, 0, 0, 0.932);
    font-size: 2.8vh;
    text-decoration: none;
}