.loginBox{
    background-color: rgba(20, 20, 20, 0.941);
    width: 66vh;
    padding: 6vh 8vh 5vh 8vh;
    border-radius: 0.7vh;
    margin-top: 10vh;
}

.title{
    font-size: 4.5vh;
}

.sendbtn{
    display: flex;
    justify-content: center;
}

.input{
    background-color: rgba(50, 50, 50, 0.941);
}

.label{
    color: rgba(179, 179, 179, 0.941);
}

.sendbtn button{
    background-color: rgba(243, 0, 0, 0.932);
    width: 60vh;
    border-radius: 0.7vh;
}

.sendbtn button:hover{
    background-color: rgba(241, 0, 0, 0.836);
    width: 60vh;
    border-radius: 0.7vh;
    color: rgba(255, 255, 255, 0.918);
}

.sendLogin{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.918);
}



@media screen and (min-width:200px) and (max-width:720px) {
    .loginBox{
        background-color: rgba(20, 20, 20, 0.941);
        padding: 6vh 8vh 5vh 8vh;
        border-radius: 0.7vh;
        margin-top: 10vh;
        max-width: 38vh;
        margin-left: 3.8vh;
    }

    .title{
        font-size: 3vh;
        margin-left: -8vh;
    }
}